<h2>{{participant.title}}</h2>
<button class='qtyminus' {{action "removeOne"}}>-</button>
{{input type='text' name='quantity' value=numOf class='qty'}}
<button class='qtyplus' {{action "addOne"}}>+</button>
<div>
	<p>Cost Per Minute</p>
	{{totalCostPerMinute}}
</div>